.Rproj.user
.Rhistory
.RData
.Ruserdata
libs
placeholder.Rcheck/
placeholder*.tar.gz
placeholder*.tgz
_book
_main.*
_bookdown_files*
.DS_Store
data-raw/complaints.csv
data-raw/combined.json
data-raw/Kickstarter_2016-01-28T09_15_08_781Z/
data-raw/Kickstarter_2016-03-22T07_41_08_591Z/
docs/
# Local Netlify folder
.netlify