@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,400&&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


/*----- Toolbar line at top----- */
/* TOC book title */

.summary > li:first-child {
  font-size: 1em;
  height: auto;
  padding: 1em 20px;
  border-bottom: 1px solid #a9c9008a;
}

.summary > li:first-child a {
  font-family: "Cabin", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  white-space: normal !important;
  color: #8097ae !important;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
  line-height: 1.5em;
  padding: 0 !important;
  border-left: none !important;
}

.summary > li:first-child a:hover {
  border-left: none;
}

.book .book-summary > nav > ul > li > a {
  border-left: 1pt solid transparent;
}

.book-summary .divider + .chapter > a {
  white-space: normal !important;
}

li.part:first-child {
   border-top: none;
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

.book .book-header.fixed {
  border-bottom: 1px solid transparent;
}

.book .book-header .btn {
  color: #566675a1;
}

.book .book-header .btn:hover {
  color: #566675;
}

/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Cabin', sans-serif;
  color: #444;
}

h1, h2, h3, h4 {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.5pt;
}

h1 {
  color: #8097ae;
  font-weight: 600;
}

h2 {
  color: #8097ae;
  font-weight: 500;
}
 
h3, h4 {
  color: #566675;
  font-weight: 400;
}
   
.title {
  font-family: 'Cabin', sans-serif;
  font-size: 3em !important;
  color: #8097ae;
  line-height: 1.5;
}

.subtitle {
  font-family: 'Cabin', sans-serif;
  color: #5d9dad80 !important;
}

.subtitle em {
  font-style: normal !important;
}


p.author em,
p.date em {
  font-style: normal !important;
  letter-spacing: 0.75pt;
  text-transform: uppercase;
}

#header::after {
  content: "";
  display: block;
  height: 500px;
  width: 350px;
  margin: 0 auto;
  background-image: url("cover.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.level1 h1 {
  border-bottom: 1px solid #a9c900;
}


/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #4070a0;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
 color: #8097ae;
 text-decoration: none;
}
    
a:focus {
  outline: none !important;
} 

/*------------ TOC --------------*/

.book .book-summary {
  background: white;
  border-right: 1px solid #a9c9008a;
}

.summary{
    font-family: 'Cabin', sans-serif;
    background-color: white;
}
  

/* TOC items*/
  .book .book-summary ul.summary li a, 
  .book .book-summary ul.summary li span {
    padding-top: 0.2em;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 20px;
    border-left: solid 4px transparent;
    letter-spacing: 1pt;
    color: #74767B;
  }

  .summary a:hover {
    color: #27425C !important;
  } 

/*active TOC links*/
.book .book-summary ul.summary li.active>a,
.book .book-summary ul.summary li.focus>a,
.book .book-summary > nav > ul > li.chapter.active > a:hover { 
  color: #1c3248;
  border-left: solid 4px #a9c900;
  padding-left: 16px;
} 
  
.summary > li.chapter {
  padding-bottom: 1.75em;
}

.book .book-summary > nav > ul > li > a {
  text-transform: uppercase !important;
  font-weight: 500;
  padding-top: 1em !important;
}

.book .book-summary > nav > ul > li > a:hover {
  border-left: solid 4px #fcfcfc;
}
  
.book .book-summary ul li ul li.chapter a {
  padding-top: 0.65em !important;
  font-weight: 400 !important;
}

.book .book-summary ul li ul li.chapter.active > a,
.book .book-summary ul li ul li.chapter.active > a:hover { 
      margin-left: -20px !important;
      padding-left: 36px !important;
      color: #1c3248;
      border-left: solid 4px #a9c900;
} 
    
.book .book-summary ul li ul li.chapter a:hover {
    margin-left: -20px !important;
    padding-left: 36px !important;
    border-left: solid 4px #fcfcfc;
}

.book .book-summary ul li ul li ul li.chapter.active > a,
.book .book-summary ul li ul li ul li.chapter.active > a:hover { 
  margin-left: -40px !important;
  padding-left: 56px !important;
  color: #1c3248;
  border-left: solid 4px #a9c900;
} 
  
.book .book-summary ul li ul li ul li > a:hover{
  margin-left: -40px !important;
  padding-left: 56px !important;
  border-left: solid 4px #fcfcfc;
}
    
li.appendix span, 
li.part span {
  margin-top: 1.5em;
  border-top: solid 1pt #69696926;
  padding-top: 30px !important;
  color: #4070a0 !important;
  opacity: 1 !important;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  font-weight: 700 !important;
  letter-spacing: 1pt;
}
    

/*------------- CODE --------------*/

.book .book-body .page-wrapper .page-inner section.normal code, 
.book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: 'Roboto Mono', monospace;
}

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin beneath chunk as a <p> would */
}

/*------------- BLOCK QUOTES --------------*/

blockquote {
padding-left: 1em;
border-left: 4px solid #7f97ae5c;
color: #2b4c6d;
}


/* ----  Lists ----- */

.section ul {
  list-style: none;
  position: relative;
  margin-left: 1em !important;
} 
  
section ul li::before {
  content: "\2022";
  color: #a9c900;
  display: inline-block;
  position: relative;
  left: 1em;
  top: 0.4rem;
  font-size: 2em;
  line-height: 1;
  width: 2em;
  margin-left: -2em;
} 
  

.section ul > li > p {
  display: inline; 
} 


.section ul > li { 
  margin-top: 0.25em;
  margin-bottom: 0.25em;
} 
  
  
/*---- Div tips -----*/

div.rmdnote, 
div.rmdwarning {
  padding: 1.9rem;
  margin: 1em 0 1em 10px;
  padding-left: 100px;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 20px 1.5em;
  min-height: 100px;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 0.8pt;
}

div.rmdnote {
  background-image: url("notes.svg");
  background-color: #a9c90112;
  border-left: 4px solid #a9c90080;
  position: relative;
  color: #233546;
}

div.rmdnote::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1em;
  width: 4px;
  display: block;
  background-color: #a9c900;
}

div.rmdwarning {
  background-image: url("flag.svg");
  color: #802f5f;
  background-color: #eab0c41a !important;
  border-left: #a3055d54 solid 4px;
  position: relative;
}

div.rmdwarning::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1em;
  width: 4px;
  display: block;
  background-color: #a3025e;
}

div.rmdnote code {
  background-color: #91cbd721 !important;
  font-size: 1em;
}

div.rmdwarning code {
  background-color: #cb9faf52 !important;
  font-size: 1em;
}


@media (min-width: 1900px) {
  
  /* Content width */
  .book.with-summary .book-body {
      left: 500px;
  }
  
  /* TOC */
  .book .book-summary {
    width: 500px;
    left: -500px;
  }

  .book.with-summary .book-header.fixed {
      left: 500px;
      
  }
}


@media (min-width: 1500px) {
  
  /* Content width */
  .book.with-summary .book-body {
      left: 400px;
  }
  
  /* TOC */
  .book .book-summary {
    width: 400px;
    left: -400px;

  }

  .book.with-summary .book-header.fixed {
      left: 400px;
  }
}


@media (min-width: 1400px) {
  
  /* Content width */
  .book.with-summary .book-body {
      left: 350px;
  }
  
  /* TOC */
  .book .book-summary {
      width: 350px;
      left: -400px;
  }

  .book.with-summary .book-header.fixed {
      left: 350px;
  }
}



